# Dependencies
node_modules/

# Env files
.env
.env.local

# Python
__pycache__/
venv/
.venv/

# Data pipeline collected/generated data
data-pipeline/data/raw/
data-pipeline/data/processed/
data-pipeline/seeds/airportal_code.csv
data-pipeline/seeds/bigmac_index.csv

.DS_Store
